@media (min-width: 768px){
    .THIS .search-school .uiInput {
    	width: 48%;
        display: inline-block;
	}
    .THIS .search-school .uiInput:first-child {
    	margin-right: 4%;
	}
    .THIS .search-school .slds-button.slds-button_brand {
        margin-top: 8px;
    }
}